# .github/workflows/reset.yml
name: Reset database

on:
  workflow_dispatch: {}

jobs:
  reset:
    runs-on: ubuntu-latest
    env:
      WEATHER_DB_URL: ${{ secrets.WEATHER_DB_URL }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Reset DB
        run: |
          python reset_db.py
